.tip {
  margin-top: -16px;
  margin-bottom: 12px;
  color: #999f;
  font-weight: 400;
  font-size: 12px;
}

.formWrapper {
  margin-top: 32px;

  h3{
    margin-bottom: 24px;
  }

  :global {
    // ArrayItems 每一项的间距
    .ant-formily-array-items-item {
      margin-bottom: 12px;
    }

    // ArrayItems 标题与内容的间距
    .ant-formily-item-label {
      margin-bottom: 12px;
    }

    // 添加按钮的上边距
    .ant-formily-array-items-addition {
      margin-top: 8px;
    }

    .ant-formily-layout .ant-formily-item-control-content-component .ant-space{
      background-color: #fff;
    }
  }
}