.tabClassName {
  :global {
    .ant-tabs-nav-list {
      .ant-tabs-tab {
        // border: #002855 solid 1px;
        border-bottom: none;
        // background: #fff;
        font-size: 14px;
        padding: 0 12px;
      }
      .ant-tabs-tab-active {
        // background: #002855;
        > div {
          //   color: #fff !important;
        }
      }
    }
  }
}
