@import '@/styles/var.less';

.titleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 500;
  height: 20px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.formilyFileTitle {
  margin-bottom: -24px;
}

.borderLeft {
  padding-left: 8px;
  border-left: 2px solid @primary-bolderColor;
}
