@import url('@styles/var.less');

.wrapper {
  min-height: calc(100vh - 120px);
  margin-bottom: @GlobalFormActionsHeight;
  background-color: #f5f7fa;
}

.content {
  padding-bottom: 24px;
}

.back {
  padding: 0;
}

.titleWrapper {
  display: flex;
  align-items: center;
  gap: 12px;
}

.footer {
  border-top: 1px solid #ebedf0;
  box-shadow: none;
}
