.calculateBox {
  width: 100%;
}

.cal_des {
  color: #666f;
  font-size: 14px;
}

.cardBox {
  width: 100%;
  min-height: 138px;
  padding: 10px 20px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.filed {
  font-weight: bold;
  font-size: 16px;
}

.tagItem {
  margin-bottom: 8px;
  white-space: inherit;
  word-break: break-all;

  background-color: transparent;
  color: @primary-color-tag;
  border-color: @primary-color-tag;
}
