@import url('@styles/var.less');

.contributionProgressWrapper {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;

  .values {
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    text-align: center;

    &:hover {
      cursor: pointer;
    }
  }
}
