@import url('@styles/var.less');

.fullscreenModal {
  top: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border-radius: 0;

  :global(.ant-modal-body) {
    height: 100%;
    padding: 0;
  }

  :global(.ant-modal-content) {
    height: 100%;
    padding: 0 !important;
    border-radius: 0 !important;
  }

  :global(.ant-modal-close) {
    top: 24px;
    right: 24px;
    width: 44px;
    height: 44px;
  }
}

.wrapper {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background: rgba(242, 244, 247, 0.96);

  .header {
    margin: 36px 24px 0;
    display: flex;
    color: var(--text-gray-7-secondary, #6c757d);
    cursor: pointer;

    .back {
      /* Body 内容/@body-l-b */

      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px; /* 150% */
    }
  }

  .contentWrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    .buttonWrapper {
      margin: 0 24px;
      width: 56px;
      height: calc(100vh - 100px);
      display: flex;
      justify-content: center;
      align-items: center;

      .nextBtn {
        display: flex;
        width: 56px;
        height: 56px;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        border-radius: 100px;
        background: var(--Fill-white, #fff);
        box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.04);
        cursor: pointer;
      }
    }

    .content {
      width: 1024px;
      height: calc(100vh - 100px);
      overflow-y: auto;

      -ms-overflow-style: none; /* IE 和 Edge */
      scrollbar-width: none; /* Firefox */
      background: rgba(242, 244, 247, 0.96);

      .line1 {
        display: flex;
        gap: 16px;

        .card1 {
          width: 700px;
          min-height: 424px;

          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.02);
          border-radius: 8px;
          background: var(--Fill-white, #fff);

          .title {
            height: 42px;
            border-radius: 8px 8px 0px 0px;
            background: linear-gradient(90deg, #f5fcfc 0%, #fcfbfa 100%);
            color: var(--text-gray-8-primary, #343a40);

            /* Caption 辅助信息/@caption-s-b */

            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 150% */

            padding: 12px 24px;
          }

          .card1Content {
            display: flex;
            flex-direction: column;
            padding: 24px;
            gap: 16px;

            .nameWrapper {
              display: flex;
              justify-content: space-between;
              align-items: center;

              .name {
                overflow: hidden;
                color: var(--text-gray-8-primary, #343a40);
                text-overflow: ellipsis;

                /* Title 标题/@title-l-b */

                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                line-height: 28px; /* 140% */
              }
            }

            .info {
              border-radius: 12px;
              background: linear-gradient(
                90deg,
                #e6fff6 0%,
                rgba(230, 255, 246, 0) 100%
              );
              display: flex;
              padding: 16px 24px;
              align-items: center;
              gap: 8px;
              align-self: stretch;

              .cValue {
                color: @primary-color;

                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: 32px; /* 133.333% */
              }

              .unit {
                color: var(--text-gray-7-secondary, #6c757d);

                /* Caption 辅助信息/@caption-s */

                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 150% */
              }
            }

            .detail {
              .detailTitle {
                color: var(--text-gray-8-primary, #343a40);

                /* Caption 辅助信息/@caption-s-b */

                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; /* 150% */
              }

              .inner {
                overflow: hidden;
                color: var(--text-gray-7-secondary, #6c757d);
                text-align: justify;
                text-overflow: ellipsis;

                /* Caption 辅助信息/@caption-s */

                font-size: 12px;
                font-style: normal;
                font-weight: 400;
                line-height: 18px; /* 150% */
              }
            }
          }
        }

        .card2 {
          width: 308px;
          min-height: 424px;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.02);
          border-radius: 8px;
          background: var(--Fill-white, #fff);

          .title {
            height: 42px;
            border-radius: 8px 8px 0px 0px;
            background: linear-gradient(90deg, #f5fcfc 0%, #fcfbfa 100%);
            color: var(--text-gray-8-primary, #343a40);

            /* Caption 辅助信息/@caption-s-b */

            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px; /* 150% */

            padding: 12px 24px;
          }

          .company {
            margin: 24px;
            overflow: hidden;
            color: var(--text-gray-8-primary, #343a40);
            text-overflow: ellipsis;

            /* Body 内容/@body-m-b */

            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: 22px; /* 157.143% */
          }

          .card2detail {
            margin: 0 24px 8px;

            .card2detailLabel {
              overflow: hidden;
              color: var(--text-gray-5-disabled, #b5b8bb);
              text-overflow: ellipsis;

              /* Caption 辅助信息/@caption-s */

              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 150% */
              margin-right: 6px;
            }

            .card2detailValue {
              overflow: hidden;
              color: var(--text-gray-7-secondary, #6c757d);
              text-overflow: ellipsis;

              /* Caption 辅助信息/@caption-s */

              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 150% */
            }
          }
        }
      }

      .card3 {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.02);
        border-radius: 8px;
        background: var(--Fill-white, #fff);

        width: 100%;
        padding: 24px;

        .title {
          color: var(--text-gray-8-primary, #343a40);

          /* Body 内容/@body-m-b */

          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px; /* 157.143% */
        }

        .grid {
          width: 100%;
          display: grid;
          grid-template-columns: 1fr 1fr;
          // grid-template-rows: repeat(2, 152px);
          grid-gap: 12px;

          .card {
            display: flex;
            // width: 480px;
            padding: 16px 24px;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            gap: 4px;
            border-radius: 8px;
            background: var(--fill-gray-1-bghover, #f7f8f9);

            .cardTitle {
              color: var(--text-gray-8-primary, #343a40);

              /* Caption 辅助信息/@caption-s-b */

              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: 18px; /* 150% */
            }

            .factorValue {
              color: var(--text-gray-8-primary, #343a40);

              /* Body 内容/@body-l-b */

              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 24px; /* 150% */
              margin-right: 8px;
            }

            .factorUnitM {
              color: var(--text-gray-7-secondary, #6c757d);

              /* Caption 辅助信息/@caption-s */

              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: 18px; /* 150% */
            }
          }
        }
      }

      .card4 {
        margin-top: 16px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.02);
        border-radius: 8px;
        background: var(--Fill-white, #fff);
        width: 100%;
        padding: 24px;

        .title {
          color: var(--text-gray-8-primary, #343a40);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: 22px;
        }

        .tableBlock {
          display: flex;
          flex-direction: column;
          gap: 12px;

          .subTitle {
            color: var(--text-gray-8-primary, #343a40);
            font-size: 12px;
            font-style: normal;
            font-weight: 500;
            line-height: 18px;
          }

          :global(.ant-table) {
            font-size: 12px;
          }
        }
      }
    }

    /* 针对 WebKit 内核浏览器 */
    .content::-webkit-scrollbar {
      display: none; /* 隐藏滚动条 */
    }
  }
}
