@import url('@styles/var.less');

.processDescribeWrapper {
  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    font-weight: 500;

    .actionBtnWrapper {
      display: flex;
      gap: 10px;
      align-items: center;
    }
  }

  .name {
    width: calc((100vw - 965px));
    max-width: calc((100vw - 965px));
    min-width: calc((100vw - 965px));
    color: @primary-color;
    cursor: pointer;
  }

  // .systemBoundary {
  //   width: calc((100vw - 965px) / 2);
  //   max-width: calc((100vw - 965px) / 2);
  //   min-width: calc((100vw - 965px) / 2);
  // }
}
