.templateRadioGroupWrapper{
    .templateRadioGroupInputWrapper{
        border-color:transparent;
        background-color: transparent;
        box-shadow:none
    }

    :global{
        :where(.css-dev-only-do-not-override-73n3pb).ant-radio-button-wrapper:has(:focus-visible){
            outline:none
        }
    }
}