/** xrender 样式修正 */
@import url('@/styles/var.less');

.search {
  && {
    margin-bottom: 0;
    padding: 0;
    :global(.ant-form .ant-col) {
      flex: none;
    }
    :global .ant-form-item-control-input {
      width: 220px;
    }

    :global(.fr-field) {
      margin-bottom: 16px;
    }

    :global(.search-action-col) {
      min-width: auto !important;
      height: 48px;
      & > div {
        justify-content: left;
        margin-left: 16px;
      }
    }

    :global(:where(.css-dev-only-do-not-override-5cjbhk).ant-btn-primary) {
      color: @primary-color;
      background-color: @whiteBg;
      border: 1px solid @primary-color;
    }

    :global(.field-block) {
      display: none;
    }

    :global(.fr-item-wrapper button.mr) {
      margin-right: 20px;
    }

    :global(.ant-select) {
      width: 100%;
    }
  }
}

div.table {
  padding: 0;

  :global(.tr-table-top-nohead) {
    height: 0 !important;
  }

  th::before {
    display: none;
  }
}
