.pageHeaderWrapper {
  display: flex;
  width: 100%;
  height: @pageHeaderHeight;
  padding: 16px 40px;
  align-items: center;
  border-bottom: 1px solid #ebedf0;
  background: #fff;
  box-sizing: border-box;
  flex-shrink: 0;

  .title {
    color: #333;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 140% */
  }
}
