@import url('@styles/var.less');

@describeHeight: 84px;

.wrapper {
  display: flex;
  height: calc(100% - @GlobalFormActionsHeight - @describeHeight);
  margin: 12px 56px;

  .left {
    width: 232px;
    min-width: 232px;
    max-width: 232px;
    height: 100%;
    margin-right: 18px;
  }

  .rightWrapper {
    background-color: @whiteBg;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: 100%;
    padding: 4px 24px 16px;

    :global {
      .ant-table-thead > tr > th,
      .ant-table-tbody > tr > td {
        padding: 13px 16px;
      }

      .ant-progress-outer .ant-progress-inner {
        flex: none;
        flex-grow: 0;
        order: 0;
        height: 16px;
        background-color: #f7f8f9;
      }

      .ant-progress-outer .ant-progress-inner .ant-progress-bg {
        height: 16px !important;
        background: @primary-color;
        border-radius: 0;
      }

      .ant-progress-text {
        color: var(--text-gray-8-primary, #343a40);
        font-weight: 400;
        font-size: 14px;

        font-style: normal;
        line-height: 22px;
        text-align: left;
      }
    }
  }
}
