.measuresContainer {
  gap: 16px;
  display: flex;
  flex-direction: column;
}

.measuresYear {
  align-items: baseline;
  display: flex;
  gap: 16px;
  span {
    color: var(--, #04252b);

    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px; /* 157.143% */
    display: flex;
  }
  .measuresYearSel {
    width: 244px;
  }
}
.measuresInfo {
  padding: 24px 24px 16px 24px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}
.measuresTitle {
  color: #333;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; /* 157.143% */
}
.measuresValue {
  color: #333;

  font-size: 24px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.measuresChart {
  position: relative;
  width: 100%;
  margin-top: 16px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 24px 24px 16px 24px;
}

.measuresChartNote {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 1;
}
.measuresTip {
  color: #999;

  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 166.667% */
  margin-top: 16px;
}
.searchWrapper {
  margin: 16px 0;
}

.paginationWrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.typeTag,
.scopeTag,
.feasibilityTag,
.yearTag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 6px;
  color: #2f68b6;
  background: #f1f6ff;
  font-weight: 600;
  line-height: 20px;
}

.feasibilityTag {
  color: #fa541c;
  background: #fff7e6;
}

.yearTag {
  min-width: 52px;
}

.numberText {
  color: #2f68b6;
  font-weight: 500;
}
