@import url('@styles/var.less');
.stepWrapperMain {
  width: 100%;
  height: calc(100vh - 100px);
  background: #f7f8f9;
  overflow-y: scroll;
  padding: 20px 20px 100px 20px;
}
h4 {
  color: #333;
  font-size: 14px;
  margin-bottom: 0;
}
.stepWrapperMainContent {
  width: 100%;
  min-height: calc(100vh - 100px);
  background: @whiteBg;
  padding: 16px 20px;
}
.stepOne {
  display: flex;
  gap: 10px;
  margin-bottom: 16px;
  div {
    font-size: 15px;
    color: @primary-color;
  }
}
.ant-pro-card {
  overflow: hidden;
}

.stepWrapper {
  display: flex;
  align-items: center;
  width: 100%;
  background: @whiteBg;
  border-bottom: 1px solid #ebedf0;
  padding: 10px 20px;
}
.radioWrapper {
  width: 100%;
  background: @whiteBg;
  border-bottom: 1px solid #ebedf0;
  padding: 12px 30px;
}
