@import '@/styles/var.less';

.colorTagWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  .cycleWrapper {
    width: 8px;
    height: 8px;
    border-radius: 50%;
  }

  .textWrapper {
    width: calc(100% - 16px);
  }
}
