@import url('@styles/var.less');
@import url('@styles/variable.less');

:global {
  .ant-collapse-expand-icon {
    margin-right: 4px;
    width: 16px;
  }
}
/** 右侧对应排放源样式 */
.collapseWrapper {
  margin: 0 36px;
  flex: 1;
  height: 100%;
  padding-bottom: 100px;
  overflow-y: auto;
}
.wrapperCollapse {
  margin-bottom: 12px;
  background-color: #fff;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.04);
  &:nth-of-type(1) {
    margin-top: 16px;
  }
  :global(.ant-collapse-item) {
    border: none;
  }

  :global(.ant-collapse-header) {
    position: sticky;
    top: 0;
    padding: 16px;
    border: none;
    z-index: 1000;
    background-color: #fff;
  }

  :global(.ant-collapse-content) {
    background-color: #f7f8f9;
    border: none;
  }

  :global(.ant-collapse-content-box) {
    padding: 0;
    background: #fff;
  }

  .innerCollapse {
    background-color: #fff;
    border: none;

    :global(.ant-collapse-header) {
      padding: 12px 24px;
      border: none;
      position: sticky;
      top: 0;
      z-index: 1000;
      background-color: #fff;
    }

    :global(.ant-collapse-content) {
      padding: 0;
      overflow-x: hidden;
      background-color: #fff;
      border: none;
    }

    :global(.ant-collapse-content-box) {
      padding: 0 24px;
      overflow-x: hidden;
    }

    .tableWrapper {
      width: 100%;
      overflow-x: hidden;

      :global(.ant-table-thead > tr > th) {
        color: #6c757d;
        background-color: #fff;
      }
    }
  }
}

.row {
  height: 44px;
}

.accountTreeExpand {
  position: relative;
  width: 20px;
}

.accountTreeExpandBtn {
  position: absolute;
  top: 50%;
  width: 20px;
  height: 64px;
  cursor: pointer;
}

.expandIcon {
  position: absolute;
  color: @gray6;
  top: 50%;
  left: 50%;
  margin-top: -7px;
  margin-left: -7px;
}

.ghgClassifyContent {
  margin-bottom: 4px;
}

.ghgClassify,
.secondGhgClassify {
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    background-color: @gray1;
  }
}

.secondGhgClassify {
  padding-left: 16px;
}

.classifyName {
  .body-m();

  margin: 0 4px;
  width: 148px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.categoryName {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.category {
  .caption-s();

  margin-top: 4px;
}

.count {
  .caption-s();
}

.categoryHeader,
.classifyHeader {
  .body-l-b();
  display: flex;
  align-items: center;
}

.headerCategoryName {
  margin-left: 8px;
  margin-right: 16px;
  font-size: 16px;
}

.emissions {
  font-size: 14px;
}

.unit {
  margin-left: 4px;
  font-weight: 400;
  font-size: 12px;
  color: @gray6;
}

.classifyHeader {
  .body-m-b();
}

.emissionSource {
  padding: 16px 20px;
  border-bottom: 1px solid var(--line-border-2, #ebedf0);
  &:nth-of-type(1) {
    border-top: 1px solid var(--line-border-2, #ebedf0);
  }

  &:hover {
    background: @gray1;
    .emissionSourceName {
      .body-m-b();

      color: @green7;
    }

    .emissionSourceOperate {
      display: flex;
    }
  }
}

.emissionSourceHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.emissionSourceHeaderItem,
.emissionSourceOperate {
  display: flex;
  align-items: center;
}

.emissionSourceOperate {
  display: none;
}

.textBtn {
  margin-left: 16px;
  cursor: pointer;
  color: @green7;
}

.emissionSourceName {
  .body-m();

  margin: 0 8px;
  cursor: pointer;

  &:hover {
    .body-m-b();

    color: @green7;
  }
}

.emissionSourceContent {
  margin-top: 12px;
  display: flex;
}

.emissionData {
  margin-right: 24px;
  min-width: 224px;
  max-width: 272px;
}

.emissionDataInput {
  width: 100%;
  border-radius: 4px;
}

.emissionValue {
  margin-right: 24px;
  min-width: 224px;
  max-width: 272px;
}

.emissionAttachment {
  margin-right: 24px;
  min-width: 224px;
}

.emissionLabel {
  .caption-s-b();

  margin-bottom: 4px;
}

.attachment {
  display: flex;
  align-items: center;
}

.attachmentCount {
  .body-m();

  margin-left: 4px;
  color: @gray5;
}

.emissionValueNum {
  .body-m();

  display: flex;
  align-items: center;
  height: 32px;
}

.tooltipIcon {
  margin-left: 4px;

  cursor: pointer;
}

.submitterContent {
  display: flex;
  flex-wrap: wrap;
}

.addSubmitterBtn {
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  border: 1px dashed var(--line-border-1, #d2d6da);
  cursor: pointer;

  &:hover {
    border-color: @green7;
    .addSubmitterIcon {
      color: @green7;
    }
  }
}

.addSubmitterIcon {
  font-size: 16px;
  color: #b5b8bb;
}

.submitterTag {
  margin-right: 8px;
  display: flex;
  padding-left: 2px;
  padding-right: 12px;
  align-items: center;
  height: 32px;
  border-radius: 100px;
  border: 1px solid var(--line-border-2, #ebedf0);
  background: var(--Fill-white, #fff);
}

.submitterTagImg {
  width: 28px;
  height: 28px;
}

.submitterTagName {
  .body-m();
  margin: 0 6px 0 4px;
}

.submitterTagCloseIcon {
  cursor: pointer;
  width: 12px;
  height: 12px;
  color: #999ea4;
}

.restSubmitterTag {
  cursor: pointer;
}

.submitterPopover {
  max-width: 312px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8px;
}

.batchOperation {
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  padding: 0 52px;
  height: 64px;
  z-index: 1000;
  background: var(--Fill-white, #fff);
  box-shadow: 0px -4px 8px 0px rgba(0, 0, 0, 0.04);
  transition: width 0.3s ease, min-width 0.3s ease;
}

.batchOperateBtn {
  margin-left: 12px;
}

.batchCount {
  .body-m();

  margin-left: 12px;
}

.checkedCount {
  margin: 0 4px;
  font-weight: 500;
  color: @green7;
}

.facility {
  display: flex;
  align-items: center;
  height: 18px;
  padding: 0 2px;
  font-size: 11px;
  color: @gray8;
  border-radius: 2px;
  background: var(--fill-gray-1-bghover, #f7f8f9);
}

.inputUnit {
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.expandArrow {
  font-size: 20px;
  color: #6c757d;

  transition: all ease-in 0.1s;
}

.activeExpandArrow {
  transform: rotate(90deg);
}
