.btnWrapper {
  display: flex;

  button {
    margin-left: 16px;
  }
}

.inoTitleWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 28px;

  .img {
    width: 16px;
    height: 16px;
    margin-right: 24px;
  }

  .companyImg {
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }

  .infoTitle {
    width: calc(100% - 300px);
  }

  .title {
    width: 100%;
    overflow: hidden;

    color: #333;
    font-family: 'PingFang SC';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  .orgCode {
    display: flex;
    align-items: center;
    color: var(--text, #999ea4);
    font-weight: 400;
    font-size: 12px;

    /* 辅助信息/Small-常规-CN */
    font-family: 'PingFang SC';
    font-style: normal;
    line-height: 24px; /* 150% */

    .copyWrapper {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 16px;
      height: 16px;
      margin-left: 2px;
      cursor: pointer;
    }
  }
}
