@import url('@styles/var.less');

.wrapper {
  margin-bottom: @GlobalFormActionsHeight;
  .schemaWrap {
    position: relative;
    .btnWrap {
      position: absolute;
      top: 240px;
      right: 0;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}
