.newLayoutHeader {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 0 20px;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  background: @lvmhThemeBg;
  box-sizing: border-box;
}
