@import url('@styles/var.less');

.wrapper {
  && {
    flex: 1 1 auto;
    margin-bottom: @GlobalFormActionsHeight;
  }

  .card {
    padding: 16px 16px 0;
    background-color: @whiteBg;

    .displayFlex {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
    }

    .flx {
      display: flex;
      align-items: baseline;
      justify-content: space-between;
    }

    & + .card {
      margin-top: 12px;
    }

    &:nth-child(2) {
      border-bottom: 1px solid transparent;
    }

    h3 {
      margin-bottom: 16px;
    }
  }
}
