.base16Text {
  color: #333;

  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.buttonTitle {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
  > div {
    .base16Text;
  }
}
