@import url('@styles/var.less');

.contributionWrapper {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;

  .titleHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;

    .filter {
      display: flex;
    }
  }

  .successTip {
    text-align: right;
    color: #0cbf9f;
  }

  .warnTip {
    text-align: right;
    color: red;
  }

  .tableWrapper {
    margin-top: 8px;

    .fixed-first-row {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: #fff;
    }
  }
}
