.tableTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0;
}
.tableTitleHeader {
  color: rgba(42, 46, 54, 0.88);
  font-weight: 500;
  font-size: 14px;
}
