.formula {
  display: flex;
  flex-direction: column;
}

.formulaBtn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  height: 32px;
  margin-top: 8px;
  text-align: center;

  .formulaBtnItem {
    flex: 1;
  }
}
