@import url('@styles/var.less');

.emissionWrapper {
  :global {
    .ant-pro-table-alert {
      display: none;
    }
  }

  .tips {
    margin-bottom: 16px;
  }

  .calcEnd {
    color: #0cbf9f;
  }

  .sunburstWrapper {
    margin-top: 32px;
  }
}
