@import url('@styles/var.less');

.emissionWrapper {
  .collapseWrapper {
    background-color: @white;
    .panelHeader {
      .panelTitle {
        font-weight: bold;
      }

      .emptyTip {
        padding-left: 48px;
        color: @primary-color;
      }
    }
  }
}
